.board {
  display: grid;
  grid-template-columns: repeat(9, 4vw);
  grid-template-rows: repeat(9, 4vw);
  justify-content: center;
  align-content: center;
  grid-gap: 0rem;
  margin: 0 0 2vw;
  padding: 0;
}
